<footer class="footer">
  <div class="container footer-inner">
    <div class="footer-inner-item">
      <div class="footer-inner-item-row">
        <div class="footer-menu">
          <h3 class="footer-inner-title">The App</h3>
          <ul>
            <li><a href='https://bumble.com/en/date'>Bumble Date</a></li>
            <li><a href='https://bumble.com/en/bff'>Bumble BFF</a></li>
            <li><a href='https://bumble.com/en/bizz'>Bumble Bizz</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <h3 class="footer-inner-title">Guides</h3>
          <ul>
            <li><a href='https://bumble.com/date/seasonal'>Seasonal Dating Guides</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-inner-item">
      <div class="footer-menu">
      	<h3 class="footer-inner-title">The Company</h3>
        <ul>
          <li><a href='#'>Help Centre</a></li>
          <li><a href='https://bumble.events/eventscalendar'>Events</a></li>
          <li><a href='https://bumble.com/en/guidelines'>Guidelines</a></li>
          <li><a href='https://bumble.com/en/privacy'>Privacy Policy</a></li>
          <li><a href='https://bumble.com/cookie-policy'>Manage Cookies</a></li>
          <li><a href='https://bumble.com/en/terms'>Terms &AMP; Conditions</a></li>
          <li><a href='http://team.bumble.com/'>Careers</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-inner-item">
      <div class="footer-menu">
        <h3 class="footer-inner-title">The Buzz</h3>
        <ul>
          <li><a href='https://bumble.com/en/the-buzz/love'>Love</a></li>
          <li><a href='https://bumble.com/en/the-buzz/friendship'>Friendship</a></li>
          <li><a href='https://bumble.com/en/the-buzz/career'>Career</a></li>
          <li><a href='https://bumble.com/en/the-buzz/wellness'>Wellness</a></li>
          <li><a href='https://bumble.com/en/the-buzz/how-to'>How To</a></li>
          <li><a href='https://bumble.com/en/the-buzz/events'>Events</a></li>
          <li><a href='https://bumble.com/success'>Submit your story</a></li>
          </ul>
      </div>
    </div>
    <div class="footer-inner-item">
      <div class="footer-inner-item-row">
        <div class="footer-menu">
          <h3 class="footer-inner-title">Follow Bumble</h3>
          <p>There’s never been a better moment to meet new, empowering people.</p>
          <div class="footer-menu footer-socials">
            <a target="_blank" href="https://www.facebook.com/bumbleapp/">
            	<img src={{asset 'icons8-facebook.svg'}} class="footer-social-icon" >
            </a>
            <a target="_blank" href="https://instagram.com/bumble/">
            	<img src={{asset 'icons8-instagram.svg'}} class="footer-social-icon" >
            </a>
            <a target="_blank" href="https://twitter.com/bumble">
            	<img src={{asset 'icons8-twitter.svg'}} class="footer-social-icon" >
            </a>
            <a target="_blank" href="https://www.pinterest.com/bumbleapp/">
            	<img src={{asset 'icons8-pinterest.svg'}} class="footer-social-icon" >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    © <span id="year"></span> Bumble | All Rights Reserved
  </div>
</footer>
